#addUserForm {
    text-align: start;
}

#formBox{
    background-color: #FFC107;
    width: fit-content;
    box-shadow: 0px 14px 80px rgba(32, 35, 58, 0.2);
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#poster {
    border-radius: 3%;
    width: 170px;
    height: 170px;
  }

  h2{ 
   
}
